{% extends 'payment_app/base_payment_app.html' %}

{% block title %}Order: {{ order.name }}{% endblock %}

{% block content %}
<h1>{{ order.name }}</h1>
<ul>
    {% for item in items %}
    <li>
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
        <p>{{ item.price }} $</p>
    </li>
    {% endfor %}
</ul>
<p>Sum: {{ unit_amount }} $</p>
<button id="checkout-button">Buy</button>

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
    var stripe = Stripe('{{ api_key }}');
    var checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function () {
        fetch("{% url 'buy_order' order_pk=order.id %}", {method: 'GET',})
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.session_id });
            })
            .then(function (result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
    });
</script>
{% endblock %}